/* .signup_page_outer_wrapper {
  background: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.signup_wrapper_main_00 {
  width: 852px;
  height: 497px;
  border-radius: 16px;
  background: linear-gradient(
    136deg,
    rgba(255, 255, 255, 0.54) 0%,
    rgba(196, 196, 196, 0) 100%
  );
  backdrop-filter: blur(20px);
  margin-top: 300px;
  margin: 0 auto;
}
.signup_wrapper_main_00 > span {
  color: #fff;
  text-align: center;
  font-family: "Inter";
  display: flex;
  font-size: 32px;
  margin-left: 45%;

  font-style: normal;
  font-weight: 300;
  margin-top: 15px;
}

.signup_wrapper_main_01 {
  margin-left: 40%;
  margin-top: 45px;
  display: flex;
  padding: 16px 17px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
  background: rgba(47, 47, 47, 0);
}

.signup_wrapper_main_01:hover {
  background: rgba(55, 55, 55, 0);
}

.signup_wrapper_main_00 > section {
  width: 781px;
  height: 1px;
  background: #fff;
  margin-top: 46px;
  margin-left: 4%;
}

.signup_wrapper_main_02 {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  margin-top: 32px;
  gap: 33%;
}
.signup_wrapper_main_02 > div > span {
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.signup_wrapper_main_02 > div > input {
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(47, 47, 47, 0);
  padding: 17px 247% 17px 2%;
}
.signup_wrapper_main_02_button {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup_wrapper_main_03 {
  display: flex;
  margin-left: 4%;
  margin-top: 82px;
  width: 100%;
}
.signup_wrapper_main_03 > button {
  cursor: pointer;
  width: 92%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  display: flex;
  padding: 17px 233px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
} */


.Signup_page_main_outer_wrapper_00 {
}

.Signup_page_main_outer_wrapper_01 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: black;
}
.Signup_page_main_outer_wrapper_01_both_pages{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Signup_page_main_outer_wrapper_01_left {

  flex-direction: column;
  width: 100%;
  /* margin-top: 140px;
  margin-left: 30%; */
  margin-bottom: 30px;
  height: 100vh;
}

.Signup_page_main_outer_wrapper_01_left_page {
  width: 70%;
  /* background: #606055; */

  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: 90px;
  height: 500px;
}

.Signup_page_main_outer_wrapper_01_left_page_button{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;

}
.Signup_page_main_outer_wrapper_01_left_page_button > button{
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  border: 2px solid;
  width: 92%;
  cursor: pointer;
  padding: 10px 52px;
  margin-left: 3%;
  font-size: 20px;
  font-family: "Gilroy ";
  font-weight: bold;
  color: black;
  display: flex;

  transition: background-color 0.3s, color 0.3s;
}
.Signup_page_main_outer_wrapper_01_left_page_button > button:hover {
  background-color: black; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}
.Signup_page_main_outer_wrapper_01 > span{
  color: white;
  font-size: 60px;
  width: 100%;
  display: flex;
  height: 300px;
  /* margin-top: 73px; */
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.Signup_page_main_outer_wrapper_01_left_page_asking{
  font-size: 16px;
  font-family: "Gilroy ";
  font-weight: bold;
  color: white;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.Signup_page_main_outer_wrapper_01_left_page_asking >span {
  text-decoration: underline;
  cursor: pointer;

}
.Signup_page_main_outer_wrapper_01_left_page > section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Signup_page_main_outer_wrapper_01_left_page > span {
  font-size: 23px;
  font-family: "Gilroy ";
  font-weight: bold;
  color: white;
    display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.Signup_page_main_outer_wrapper_01_left_page > section > span {
  font-size: 20px;
  font-family: "Gilroy ";
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  color: white;
  display: flex;
  margin-left: 3%;
  margin-bottom: 4%;
  margin-top: 2%;
  /* margin: 0 auto; */
  width: 100%;
}

.Signup_page_main_outer_wrapper_01_left_page > section > div > input {
  border: 8px;
  box-shadow: blue;
  min-height: 30px;
  border: 34px;
  border-radius: 16px;
  width: 91%;
  color: blue;
  margin-left: 3%;
  box-shadow: -1px -1px 29px rgb(136 31 31);
}
.Signup_page_main_outer_wrapper_01_left_page > section > div > input:focus {
  box-shadow: red;
}

.input-container {
  position: relative;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.Signup_page_main_outer_wrapper_01_left_page > section > input:focus {
  outline: none;
}

.Signup_page_main_outer_wrapper_01_right {

  width: 100%;
  height: 100vh;

}

.cube-container {
  width: 200px;
  height: 200px;
  perspective: 800px;
  margin: 50px auto;
 margin-top: 290px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  color: rgb(224 215 209);
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: linear-gradient(
      to right,
      #ff6b6b,
      #355c7d,
      #557d35,
      #cfcf16,
      #a51f1f
    )
    1;
    /* box-shadow: 0 0 100px rgb(229 229 229 / 80%); */
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube-container:hover .cube {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}
